# DATA BASE CREATION

In [1]:
#making connection with SQlite through python
import sqlite3

connection = sqlite3.connect("bank_data.db")
cursor = connection.cursor()

In [2]:
#creating new tables in SQLite DB
command1 = """CREATE TABLE USER_TABLE(USER_ID INTERGER,USER_NAME TEXT,USER_DOB INTERGER,
USER_EMAIL TEXT,USER_CREATED_DATE INTERGER)"""

command2 = """CREATE TABLE Bank_Account_Table  (USER_ID INTERGER, BANK_ACCOUNT_ID INTERGER, 
BANK_ACCOUNT_NUMBER INTERGER, IS_USER ACTIVE INTERGER, AMOUNT INTERGER)"""

command3 = """CREATE TABLE Transaction_Table (TRANSACTION_DATE INTERGER, USER_ID INTERGER,
BANK_AC INTERGER_ID, WITHDRAWN_AMOUNT INTERGER)"""


cursor.execute(command1)
cursor.execute(command2)
cursor.execute(command3)

OperationalError: table USER_TABLE already exists

In [3]:
#inserting values into USER_TABLE
cursor.execute("INSERT INTO USER_TABLE VALUES(01,'Arun','2000-01-01','arun@gmail.com','2022-06-02')")
cursor.execute("INSERT INTO USER_TABLE VALUES(02,'Bala','1999-01-08','bala@gmail.com','2022-02-31')")
cursor.execute("INSERT INTO USER_TABLE VALUES(03,'Catherine','2002-01-05','Catherine@gmail.com','2022-05-28')")

In [2]:
cursor.execute('DELETE FROM USER_TABLE')
cursor.execute('DELETE FROM Bank_Account_Table')
cursor.execute('DELETE FROM Transaction_Table')

In [89]:
cursor.execute('SELECT * FROM USER_TABLE')
results = cursor.fetchall()
print(results)

[(1, 'Arun', '2000-01-01', 'arun@gmail.com', '2022-06-02'), (2, 'Bala', '1999-01-08', 'bala@gmail.com', '2022-02-31'), (3, 'Catherine', '2002-01-05', 'Catherine@gmail.com', '2022-05-28')]

In [4]:
#inserting values into Bank_Account_Table
cursor.execute("INSERT INTO Bank_Account_Table VALUES(01,1001,123456,1,15000)")
cursor.execute("INSERT INTO Bank_Account_Table VALUES(02,1002,123457,1,8500)")
cursor.execute("INSERT INTO Bank_Account_Table VALUES(03,1003,123458,0,9000)")

In [34]:
cursor.execute('SELECT * FROM Bank_Account_Table')
results = cursor.fetchall()
print(results)

[(1, 1001, 123456, 1, 15000), (2, 1002, 123457, 1, 8500), (3, 1003, 123458, 0, 9000)]

In [5]:
#inserting values into Transaction_Table
cursor.execute("INSERT INTO Transaction_Table VALUES('2022-04-28',01,123456,1800)")
cursor.execute("INSERT INTO Transaction_Table VALUES('2022-05-15',01,123456,200)")
cursor.execute("INSERT INTO Transaction_Table VALUES('2022-03-08',02,123457,2500)")
cursor.execute("INSERT INTO Transaction_Table VALUES('2022-01-06',03,123458,1500)")
cursor.execute("INSERT INTO Transaction_Table VALUES('2022-02-03',03,123458,350)")

In [37]:
cursor.execute('SELECT * FROM Transaction_Table')
results = cursor.fetchall()
print(results)

[('2022-04-28', 1, 123456, 1800), ('2022-05-15', 1, 123456, 200), ('2022-03-08', 2, 123457, 2500), ('2022-01-06', 3, 123458, 1500), ('2022-02-03', 3, 123458, 350)]

# Class definition

In [6]:
class bank():
    
    def __init__(self, userid):  
        self.userid = userid 
    
    def check_bal(self):
        try:
            L = self.userid
            select_query = ( """SELECT * from Bank_Account_Table  WHERE USER_ID = (?) """)
            cursor.execute(select_query,[L])
            results= cursor.fetchall()
            print('The remaning balance is', results[0][4])
        except Exception as e:
            print('USER ID NOT AVAILABLE')
                    
    def amount_withdrawl(self):
        try:
            M = self.userid
            select_query = ("SELECT AMOUNT FROM Bank_Account_Table WHERE USER_ID = (?)")
            cursor.execute(select_query,[M])
            newresult= cursor.fetchall()
            withdrawl = int(input('enter the amount to be withdrawn: '))
        
            if newresult[0][0] > 5000:
                
                if withdrawl>newresult[0][0]:
                    print('Sorry you dont have sufficient balance')
                    
                elif withdrawl<newresult[0][0]:
                    new_balance = newresult[0][0]-withdrawl
                    print('remaining balance is',new_balance)
            select_query2 = ("UPDATE Bank_Account_Table SET AMOUNT = (?) where USER_ID =(?) ")
            cursor.execute(select_query2,[new_balance,M])
            
        except Exception as e:
            print('USER ID NOT AVAILABLE')
        
    def new_record(self):
        
        idx = self.userid
        name = input('Enter your name ')
        dob = input('enter your dob ')
        mailID = input('enter dour mail id ')
        datecr = input('enter todays date ')
        command_query = """INSERT INTO USER_TABLE VALUES(?,?,?,?,?)"""
        cursor.execute(command_query,[idx,name,dob,mailID,datecr])
    
    def statement(self):
        try:
            idy = self.userid
            mindate = input('enter the min date in YYYY-MM-DD format: ')
            maxdate = input('enter the max date in YYYY-MM-DD format: ')
            command_query2 = ("SELECT * FROM Transaction_Table where (TRANSACTION_DATE >= (?) and TRANSACTION_DATE <= (?)) and USER_ID = (?)")
            cursor.execute(command_query2,[mindate,maxdate,idy])
            res= cursor.fetchall()
            print(res)
            
                
        except Exception as e:
            print('USER ID NOT AVAILABLE')

In [7]:
#object creation with userIDS
userA = bank(1)
userB = bank(2)
userC = bank(3)
userD = bank(4)

In [8]:
#functioning of obbjects
#balance
userA.check_bal()

The remaning balance is 15000

In [9]:
#withdral of amount
userB.amount_withdrawl()

enter the amount to be withdrawn: 150
remaining balance is 8350

In [ ]:
#ministatement
userC.statement()

In [ ]:
#newrecord
userD.new_record()